body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

textarea {
   resize: none;
 }

#navbar {
  margin-top: -5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.productsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productView {
  padding-bottom: 2rem;
}

.productImage {
  width: 320px;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-edit-div {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: lightgray;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgray;
  align-items: flex-start;
}

.editTitles {
  font-weight: bold;
}

.singleProductView {
  display: flex;
  flex-direction: column;
}

.current-product-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.current-product {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.product-view-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6rem;
}

.product-view-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.product-view-image {
  width: 30%;
  height: 30%;
}

.product-view-price {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.product-view-desc {
  display: flex;
  font-style: italic;
  width: 300px;
  overflow-wrap: break-word;
}


#addProductsFrom {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#logo{
  display: block;
  max-width: 250px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#navbarsearch{
  height: 30px;
  width: 500px;
}

#searchcontainer{
  min-width: 650px;
  text-align: center;
  align-self: center;
}
