body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: .1rem;
  display: inline-block;
}

textarea {
   resize: none;
 }

#navbar {
  margin-top: -5px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.productsDisplay {
  display: flex;
  padding-top: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.productView {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.productImage {
  width: 320px;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.product-edit-div {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: lightgray;
}

.editTitles {
  font-weight: bold;
}

.singleProductView {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
}

.current-product-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.current-product {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.product-view-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6rem;
}

.product-view-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.product-view-image {
  width: 30%;
  height: 30%;
}

.product-view-price {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.product-view-desc {
  display: flex;
  font-style: italic;
  width: 300px;
  overflow-wrap: break-word;
}

#quantitylabel {
  display: flex;
}
.quantitySelect {
  display: flex;
  background-color: white;
  margin: 0;
  width: 4rem;
}

.quantSelectDesign {
  display: flex;
  margin: 0;
}

.addtocartform {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-style: italic;
}

#backtoproducts {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  border-width: 1px;
  background-color: lightgray;
  color: blue;
}

#adminForm {
  display: flex;
  flex-direction: column;
  background-color: #eff3f4;
}

#adminFormEditProduct {
  display: flex;
  flex-direction: column;
  background-color: #eff3f4;
}

#adminFormEditProduct input {
  display: flex;
  width: 400px;
}

#customButton {
  display: flex;
  background-color: lightgray;
}

#adminForm input {
  display: flex;
  width: 400px;
}






.adminTitle {
  display: flex;
  width: auto;
  color: red;
}

.adminOnlySign {
  display: flex;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  padding: 2rem;
  color: red;
  margin: 0;
}

#logo{
  display: block;
  max-width: 250px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#navbarsearch{
  height: 30px;
  width: 500px;
}

#searchcontainer{
  min-width: 650px;
  text-align: center;
  align-self: center;
}

#admin-order-select {
  width: 15%;
  margin: 0 0 5px 0;
}

#reviewscontainer{
  margin: 2rem 5rem;
}

.review-spacing{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
}

.review-author{
  font-size: 1rem;
  color: rgb(153, 153, 153);
  font-weight: normal;
  padding-left: .5rem;
}

#cart{
  margin: 0 2rem;
  max-width: 500px;
}

.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 125px;
}

.price{
  font-weight: bold;
  color: rgb(36, 181, 36);
  padding-top: 1rem;
}

#review-form{
  background-color: white
}

.center{
  text-align: center;
  width: 96%
}

#review{
  width: 800px;
}

#stars{
  width: 50px;
}


.quantityInline {
  display: inline;
  margin: 0 3px 3px 3px;
}


.headerforall{
  display: flex;
  justify-content: center;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: red;
  margin: 1rem;
}

#peruse {
  font-size: 24px;
  font-style: italic;
  margin: 2rem;
  display: flex;
  justify-content: center;
  width: 90%;
}
.carousel {
  margin-top: 6rem;
  width: 1150px;
  height: 400px;
}

.carousel .carousel-image {
  position: absolute;
  opacity: 1;
  transition: opacity .5s;
}

.carousel .carousel-image.hidden {
  opacity: 0;
}

.marginClass {
  margin: 0 20px 0 20px;
}

.checkout-form {
  padding-left: 1em
}
