body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.productsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productView {
  padding-bottom: 2rem;
}

.productImage {
  width: 320px;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


#logo{
  display: block;
  max-width: 250px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#navbarsearch{
  height: 30px;
  width: 500px;
}

#searchcontainer{
  min-width: 650px;
  text-align: center;
  align-self: center;
}
